.home {
  width: 100%;
  align-items: center;
  font-family: "Arial", sans-serif;
  color: black;
  margin-top: 100px;
}

.about {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
  color: #f0f0f0;
}

.about h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 70px;
  color: #e9d35b;
 
}

.about .prompt {
  width: 40%;
  font-size: 30px;
}
.prompt svg {
  font-size: 60px;
  margin: 5px;
  color: white;
}

.skills {
  font-size: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.skills h1 {
  color: black;
}

.skills .list {
  list-style: none;
  width: 60%;
  margin-top: 0;
}

.list span {
  font-size: 20px;
}
@media (min-width:948px){
  .about h2{
  width: 23ch;
  animation: typing 2s steps(23), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  }
 
  @keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}
}


@media (max-width:948px){
   .about h2 {
    font-size: 50px;
  }
  .about .prompt {
    margin-top: 10px;
    font-size: 25px;
    width: 40%;
  }
}


@media (max-width:715px){
   .about h2 {
    font-size: 50px;
  }
  .about .prompt {
    margin-top: 10px;
    font-size: 22px;
    width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  .about h2 {
    font-size: 40px;
  }

  .about .prompt {
    margin-top: 10px;
    font-size: 20px;
    width: 80%;
  }

  .skills {
    text-align: center;
  }
  .list {
    padding: 0;
  }

  .skills h2 {
    font-size: 30px;
  }
}

@media(max-height:682px) {
  .about h2 {
    padding-bottom: 13px;
    margin-bottom: -6px;
    margin-top: 10px;
  }
  @media (max-height:522px){
    .detail{
      display: none;
    }
  }

}


.skill_button {
  margin-top: 15px;
  font-size: 18px;
  color:black !important;
  background-color: white  !important;
  animation: shake 1.6s cubic-bezier(.36, .07, .19, .97) both infinite  !important;
  transform: translate3d(0, 0, 0)  !important;
  backface-visibility: hidden  !important;
  perspective: 1000px  !important;
  transition: color 0.5s, background-color 0.5s  !important;
}
.skill_button:hover{
  color:white  !important;
  background-color: black  !important;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(0, -1px, 0);
  }
  20%,
  80% {
    transform: translate3d(0, 2px, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(0, -4px, 0);
  }
  40%,
  60% {
    transform: translate3d(0, 4px, 0);
  }
}






